<footer class="bg-dark pb-12 pt-11 sm:pt-[3.75rem] sm:pb-16 text-sm sm:text-base" id="contacts">
  <div class="container text-white flex flex-col items-center ">
    <a href="#" class="uppercase text-white font-bold mb-8 text-center hover:text-secondary-light transition-colors">KSYBUENO</a>
    <nav class="mb-12 sm:mb-16">
      <ul class="flex gap-y-4 justify-center gap-x-12 flex-wrap sm:flex-row flex-col items-center">
        <li><a class="text-base hover:text-secondary transition-colors" href="#">Політика конфіденційності</a></li>
        <li><a class="text-base hover:text-secondary transition-colors" href="#">Умови оплати та повернення</a></li>
        <li><a class="text-base hover:text-secondary transition-colors" href="#">Публічна оферта</a></li>
        <li><a class="text-base hover:text-secondary transition-colors" href="#">Контакти</a></li>
      </ul>
    </nav>
    <dl class=" flex justify-center flex-col sm:flex-row gap-y-4 gap-x-12">
      <div class="flex gap-y-0 gap-x-4 items-center flex-col sm:flex-row">
        <dt class="italic">Istagram:</dt>
        <dd>
          <a
          target="_blank"
            href="https://www.instagram.com/ksybueno/"
            class="uppercase text-inherit hover:text-secondary transition-colors"
            >@KSYBUENO</a
          >
        </dd>
      </div>
      <div class="flex gap-y-0 gap-x-4 items-center flex-col sm:flex-row">
        <dt class="italic">Email:</dt>
        <dd>
          <a
            href="mailto:ksu.bueno.travel@gmail.com"
            class="uppercase text-inherit hover:text-secondary transition-colors"
            >ksu.bueno.travel@gmail.com</a
          >
        </dd>
      </div>
    </dl>
  </div>
</footer>
